body{
    background-image: url("../images/imagem.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: animada;
    src: url("../fonts/Super\ Squad.ttf");
}

h1{
    font-family: animada;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
    width: 550px;
    height: 550px;
    margin: auto;
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.second-scetion{
    font-family: animada;
    margin-top: 100px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.second-scetion output{
    margin-top: 50px;
    font-size: 20px;
}

button{
    font-family: animada;
    background-image: linear-gradient(to right, red, blue);
    color: white;
    border-style: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;  
    transition: box-shadow 0.5s ease;
}

button:hover{
    box-shadow: inset 200px 0 0 rgb(85, 84, 84);
}

input{
    background-image: linear-gradient(to right, red, blue);
    border: none;
    outline: none;
    border-radius: 23px;
    text-align: center;
    padding: 20px;
    font-family: animada;
    color: white;
}

input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: animada;
}

footer{
    font-family: animada;
    color: white;
    margin-left: 20px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer a:hover{
    background-image: linear-gradient(to right, red, blue);
}